<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Qualité 100% garantie</h1>
            <hr>
            <p>Une urgence électrique ? Interventions rapides pour vos dépannages électriques</p>
            <h2>06 99 00 19 29</h2>
            <p>Secteur d'interventions : Labenne, Tarnos, Ondres, Boucau, Capbreton, Soorts-Hossegor, Saint-Martin-de-seignanx, Anglet, Biarritz, Saint-Vincent-de-Tyrosse, Saubrigues, Seignosse, Tosse...</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Me contracter</a>
        </div>
    </div>
</header>
