<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/Logo_720x720px-removebg-preview.png" class="img-responsive" alt="" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
            <h1>Qualité 100% garantie</h1>
            <hr>
            <img src="img/Logo_720x720px-removebg-preview.png" class="img-responsive" alt="" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
            <p>Une urgence électrique ? Interventions rapides pour vos dépannages électriques</p>
            <h2>06 99 00 19 29</h2>
            <p>Secteur d'interventions : Labenne, Tarnos, Ondres, Boucau, Capbreton, Soorts-Hossegor, Saint-Martin-de-seignanx, Anglet, Biarritz, Saint-Vincent-de-Tyrosse, Saubrigues, Seignosse, Tosse...</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Me contracter</a>
            <img src="img/Photo carte visite 2.png" class="img-responsive" alt="" style="border-radius: 50%;display: block; margin-left: auto; margin-right: auto; width: 10%;"/>
        </div>
    </div>
</header>
