<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pour un Diagnostique et un Dépannage rapide</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/Expert comptable.webp" class="img-responsive" alt="" style="border-radius: 50%;display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
                    <h3>Devis Gratuit</h3>
                    <p class="text-muted">Je me déplace chez vous et réalise un devis gratuit et personnalisé</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/Circuit électrique.webp" class="img-responsive" alt="" style="border-radius: 50%;display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
                    <h3>Dépannage rapide</h3>
                    <p class="text-muted">Je m'engage à intervenir sur votre installation en cas de panne dans les plus brefs délais</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/Ouvrier électricien.webp" class="img-responsive" alt="" style="border-radius: 50%;display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
                    <h3>Installation élecrique</h3>
                    <p class="text-muted">Électricité générale, mise en sécurité de votre installation, pose et raccordement de votre électroménager, sèche serviettes, luminaire, etc. Installation d'une borne de recharge adaptée à votre véhicule</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/Plans de construction électrique.webp" class="img-responsive" alt="" style="border-radius: 50%;display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
                    <h3>Remise aux normes</h3>
                    <p class="text-muted">Votre installation n'est plus aux normes et ancienne, ne prenez aucun risque ! L’électricité mal maîtrisée représente très vite un danger.</p>
                </div>
            </div>
        </div>
    </div>
</section>
